.stack-work/*
TAGS
*~
*#
/dist
\#*#
.#*
/dist-newstyle
cabal.project.local
*.json
*.png
/visualizations/output
.Rproj.user
.RData
.Rhistory
notebooks/
*.ipynb
*.ipynb_checkpoints
Rnotes/*.pdf
.stack-work/